/*Style of the create rant template*/
@media only screen and (min-device-width: 0px) and (max-device-width: 376px)  { 

    input#id_rant_title, textarea#id_rant_content {
        border: 0.15em solid #000;
    }

    textarea#id_rant_content {
        width: 70vw;
    }

}

@media only screen and (min-device-width: 377px) and (max-device-width: 426px)  { 

    input#id_rant_title, textarea#id_rant_content {
        border: 0.15em solid #000;
    }

    textarea#id_rant_content {
        width: 80vw;
    }

}

@media only screen and (min-device-width: 427px) and (max-device-width: 770px)  { 

    input#id_rant_title, textarea#id_rant_content {
        border: 0.15em solid #000;
    }

    textarea#id_rant_content {
        width: 80vw;
    }

    div.form-group, input.btn.btn-success.btn-md {
        margin-left: 10%;
    }

}

@media only screen and (min-device-width: 771px) and (max-device-width: 1025px)  { 

    input#id_rant_title, textarea#id_rant_content {
        border: 0.15em solid #000;
    }

    input#id_rant_title {
        width: 25vw;
    }

    textarea#id_rant_content {
        width: 80vw;
    }

    div.form-group, input.btn.btn-success.btn-md {
        margin-left: 7%;
    }


}

@media only screen and (min-device-width: 1026px) and (max-device-width: 1441px)  { 

    input#id_rant_title, textarea#id_rant_content {
        border: 0.15em solid #000;
    }

    input#id_rant_title {
        width: 25vw;
    }

    textarea#id_rant_content {
        width: 70vw;
    }

    div.form-group, input.btn.btn-success.btn-md {
        margin-left: 3%;
    }

}

@media only screen and (min-device-width: 1442px) { 

    div.panel-body{
        width: 65vw;
        height: 70vh;
    }

    input#id_rant_title, textarea#id_rant_content {
        border: 0.15em solid #000;
    }

    input#id_rant_title {
        width: 15vw;
        height: 4vh;
    }

    textarea#id_rant_content {
        width: 38vw;
        height: 25vh;
    }

    div.form-group, input.btn.btn-success.btn-md {
        margin-left: 4%;
        margin-top: 2.5%;
    }

    div.form-group > h4 {
        font-size: 3em;
    }

    input.btn.btn-success.btn-md {
        font-size: 2.5em;
    }

}


