{% load bootstrap3 %}
{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {%if title%}
        <title>{{title}}</title>
    {% else %}
        <title>Rant On</title>
    {% endif %}

    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/base.css'%}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/rant1.jpeg' %}"/>
    {% endblock %}
    
</head>

<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Content from child templates -->

    {% block content %}
    {% endblock %}
    
    <!-- Javascript -->
    
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
    
</body>
</html>